@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Marker+Hatch&family=Shafarik&display=swap');

@media only screen and (min-device-width: 300px) and (max-device-width: 840px){

	div {
		width: 100%;
		margin-left: auto;
		margin-right: auto;

	}
	section {
		background-color: white;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}
		
}

@media only screen and (min-device-width: 840px){
	div {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		flex-wrap: wrap;
		flex: 1;
	}
	section { 
	background-color: white;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 20px;
	padding-bottom: 20px;
}
}

body {
	max-width: 100%;
	font-family: 'Bebas Neue', serif;
	margin: 0;
	padding: 0;
	background-color: white;
}

h1 {
	font-size: 3rem;
	color: white;
	display: block;
	text-align: center;
}

h2,h3,h4 {
	font-size: 1.8rem;
	color: black;
	display: block;
	text-align: left;
	padding-left: 25%;
	margin-top: 10px;
	margin-bottom: 5px;
}

p {
	font-size: 1.4em;
	color: black;
	border: 5px solid white;
	padding: 10px 40px 10px 40px;
}

ul {
	display: block;
	text-align: left;
	padding-left: 25%;
}

li {
	list-style-position: inside;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-height: 400px;
	max-width: 100%;  
	border-radius: 10%;
}  





header {
	background-color: #001bff;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bg1 {
	background-color: #c65ceffe;
}

.bg2 {
	background-color: #001bff;
}

.bg3 {
	background-color: #e0e257;
}

iframe {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%
}

footer {
	height: 100px;
	background-color: #001bff;
}

#complete {
	background-color: green;
}

#incomplete {
	background: linear-gradient(to right, rgb(147, 10, 147), rgb(175, 55, 230));
}
